<div class="container" style="padding-left: 10%;">

  <div class="row">
    <app-header></app-header>
    <div class="col-md-3">
      <table class="table " style="margin-top: 2rem;">
        <thead>
          <tr>
            <td>
              <div class="input-group">
                <form  class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Search</mat-label>
                    <input type="text"
                           placeholder="Search User"
                           aria-label="User name"
                           matInput
                           [formControl]="searchform"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" >
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
            </div>
            </td>


          </tr>
        </thead>
        <tbody *ngFor="let  user of contacts"  (click)="selected(user)">
         <tr ><td>{{user.name}}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <app-conversation [reciver]="reciver"></app-conversation>
    </div>
  </div>
</div>

